#Header {
    display: block;
    background-color: black;
    margin: 0px;
    padding: 15px;
}

#site_title {
    color: white;
    margin: 0px;
}

#site_tagline {
    color: white;
    margin-top: 15px;
}

p {
    color: white;
}